canvas {
	position: absolute; 
	top:0px; 
	left:0px; 
	z-index:-100
}

.fullscreen {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
}

.panelTitle {
	font-size: 20px;
	padding: 5px 0;
	height: 100%;
	display: flex;
	align-items: center;
	color: #eee;
}

.birthday {
	color: yellow;
}

.addNotes {
	margin-left: 10px;
}

.viewNotes, .addNotes {
	border: 1px solid #eee;
}

.panelButton {
	margin-left: 5px;
}

#contactTable {
	width: 100%;
}

#newContact {
	float: right;
}

#headshot {
	margin: auto;
}

#contactTable table {
	border-collapse: collapse;
}

#contactTable tr { 
	border: solid;
	border-width: 1px 0;
}
#contactTable tr:first-child {
	border-top: none;
}
#contactTable tr:last-child {
	border-bottom: none;
}
.edit, .delete {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}
#newContact {
	cursor: pointer;
}
